/*
  Some styles referenced from project 2 here:
  https://github.com/CS-396-Full-Stack-Software-Eng/project-2-recipe-step-tracker-v2-cs2027/blob/main/recipe_tracker_client/src/App.css
*/

.homepage-cover {
  background-color: lightgray;
  opacity: 0.5;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.homepage-header-wrapper {
  /* margin: 10px 0 0 10px; */
}

.past-transactions-header-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.past-transactions-header {
  font-size: 28px;
  margin-right: 15px;
}

.transaction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
  border-radius: 15px;
  border: 1px solid black;
}

.transaction-wrapper > * {
  margin: 2px 0;
}

.transaction-header {
  font-weight: bold;
  font-size: 18px;
}

.transaction-data {
  font-size: 14px;
}

.past-transactions-wrapper {
  margin-top: 10px;
}
